<mat-card class="form-container" [ngClass]="{ 'popup-mode': isPopupMode }">
  <h2>
    <mat-icon>person_add</mat-icon>
    {{ isPopupMode ? 'Update Student' : 'Register a New Student' }}
  </h2>

  <form [formGroup]="studentForm" (ngSubmit)="onSubmit()" class="form-grid">

    <mat-form-field appearance="outline">
      <mat-label>Student Name</mat-label>
      <input matInput formControlName="studentName" placeholder="Enter student’s full name" />
    </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Gender</mat-label>
    <mat-select formControlName="gender">
      <mat-option [value]="1">Male</mat-option>
      <mat-option [value]="2">Female</mat-option>
      <mat-option [value]="3">Other</mat-option>
    </mat-select>
  </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Roll Number</mat-label>
      <input matInput formControlName="rollNo" placeholder="e.g., 25" />
    </mat-form-field>

   <!-- Class -->
<mat-form-field appearance="outline">
  <mat-label>Class</mat-label>
  <mat-select formControlName="class">
    <mat-option *ngFor="let cls of classes" [value]="cls.classID">{{ cls.className }}</mat-option>
  </mat-select>
</mat-form-field>

<!-- Section -->
<mat-form-field appearance="outline">
  <mat-label>Section</mat-label>
  <mat-select formControlName="section">
    <mat-option *ngFor="let sec of sections" [value]="sec.sectionID">{{ sec.sectionName }}</mat-option>
  </mat-select>
</mat-form-field>

    <!-- Photo URL -->
    <mat-form-field appearance="outline">
      <mat-label>Photo URL</mat-label>
      <input matInput formControlName="photoUrl" placeholder="Paste image URL here" />
    </mat-form-field>

    <div class="action-buttons">
      <button mat-raised-button type="submit" style="background-color: #2e7d32; color: white; border-radius: 10px;">
         {{ isPopupMode ? 'Update Student' : 'Register a New Student' }}
      </button>
      <button mat-stroked-button color="warn" type="button" style="background-color: red; color: white; border-radius: 10px;" (click)="onCancel()">Cancel</button>
    </div>
  </form>
</mat-card>
