<mat-card class="form-container">
  <h2>
    <mat-icon>person_add</mat-icon>
    Register a New Student
  </h2>

  <form [formGroup]="studentForm" (ngSubmit)="onSubmit()" class="form-grid">

    <!-- Zone -->
    <mat-form-field appearance="outline">
      <mat-label>Zone</mat-label>
      <mat-select formControlName="zone" (selectionChange)="onZoneChange()">
        <mat-option *ngFor="let zone of zones" [value]="zone">{{ zone }}</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Cluster (shown after zone is selected) -->
    <ng-container >
      <mat-form-field appearance="outline">
        <mat-label>Cluster</mat-label>
        <mat-select formControlName="cluster" (selectionChange)="onClusterChange()">
          <mat-option *ngFor="let cluster of filteredClusters" [value]="cluster">{{ cluster }}</mat-option>
        </mat-select>
      </mat-form-field>
    </ng-container>

    <!-- School (shown after cluster is selected) -->
    <ng-container>
      <mat-form-field appearance="outline">
        <mat-label>School Name</mat-label>
        <mat-select formControlName="schoolName">
          <mat-option *ngFor="let school of filteredSchools" [value]="school">{{ school }}</mat-option>
        </mat-select>
      </mat-form-field>
    </ng-container>

    <mat-form-field appearance="outline">
      <mat-label>Student Name</mat-label>
      <input matInput formControlName="studentName" placeholder="Enter student’s full name" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Roll Number</mat-label>
      <input matInput formControlName="rollNo" placeholder="e.g., 25" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Class</mat-label>
      <mat-select formControlName="class">
        <mat-option *ngFor="let cls of classes" [value]="cls">{{ cls }}</mat-option>
      </mat-select>
    </mat-form-field>

  <mat-form-field appearance="outline">
  <mat-label>Section</mat-label>
  <mat-select formControlName="section">
    <mat-option *ngFor="let sec of sections" [value]="sec">{{ sec }}</mat-option>
  </mat-select>
</mat-form-field>

    <!-- Photo URL -->
    <mat-form-field appearance="outline">
      <mat-label>Photo URL</mat-label>
      <input matInput formControlName="photoUrl" placeholder="Paste image URL here" />
    </mat-form-field>

    <div class="action-buttons">
      <button mat-raised-button type="submit" style="background-color: #2e7d32; color: white; border-radius: 10px;">
        Add Student
      </button>
      <button mat-stroked-button color="warn" type="button" style="background-color: red; color: white; border-radius: 10px;" (click)="onCancel()">Cancel</button>
    </div>
  </form>
</mat-card>
