<h2 mat-dialog-title>Update User</h2>

<form [formGroup]="form" (ngSubmit)="onUpdate()" class="popup-form">
  <div class="form-grid">
    <mat-form-field appearance="outline">
      <mat-label>Username</mat-label>
      <input matInput formControlName="username" />
      <mat-error *ngIf="form.get('username')?.touched && form.get('username')?.hasError('required')">
        Username is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput formControlName="passwordHash" type="password" />
      <mat-error *ngIf="form.get('passwordHash')?.touched && form.get('passwordHash')?.hasError('required')">
        Password is required
      </mat-error>
    </mat-form-field>
  </div>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Full Name</mat-label>
    <input matInput formControlName="fullName" />
    <mat-error *ngIf="form.get('fullName')?.touched && form.get('fullName')?.hasError('required')">
      Full name is required
    </mat-error>
  </mat-form-field>

  <div class="button-row">
    <button mat-stroked-button color="warn" type="button" (click)="onCancel()">Cancel</button>
    <button mat-flat-button color="primary" type="submit">Update</button>
  </div>
</form>
