<div class="upload-card mat-elevation-z2">
 <h2 style="color: green;">
  <mat-icon style="margin-right: 8px;">school</mat-icon>
  School Bulk Upload
</h2>
<div class="download-template-wrapper">
  <button mat-stroked-button color="accent" (click)="downloadExcelTemplate()">
    <mat-icon>download</mat-icon> Download Excel Template
  </button>
</div>
  <div class="upload-box">
    <button mat-raised-button color="primary" (click)="triggerFileInput(fileInput)">
      <mat-icon>upload</mat-icon> Select Excel File
    </button>
    <span class="file-name" *ngIf="selectedFileName">{{ selectedFileName }}</span>

    <input
      #fileInput
      type="file"
      accept=".xlsx, .xls"
      hidden
      (change)="onFileSelected($event)"
    />
  </div>

  <p class="note">* Only Excel files (.xlsx, .xls) are supported.</p>

  <!-- Preview Table -->
  <div *ngIf="schoolList.length > 0" class="table-wrapper">
    <table mat-table [dataSource]="schoolList" class="mat-elevation-z1 full-width-table">
      <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
        <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
        <td mat-cell *matCellDef="let row">{{ row[column] }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <!-- Actions -->
  <div class="actions" *ngIf="schoolList.length > 0">
    <button
      mat-raised-button
      color="accent"
      (click)="uploadSchools()"
      [disabled]="hasValidationErrors"
    >
      Submit Schools
    </button>

    <button mat-stroked-button color="warn" (click)="resetForm()">Cancel</button>

    <p *ngIf="hasValidationErrors" class="error-msg">
      Please fix the Excel file. Some required fields are missing.
    </p>
  </div>
</div>
